#!/bin/sh

# if we've got autorandr, we're probably using it
# TODO: "probably" is not a great solution
command -v autorandr 2>&1 > /dev/null && autorandr -c


xrandr --setprovideroutputsource modesetting NVIDIA-0
xrandr --auto

xres="$HOME/.Xresources"

if [ -f "$xres" ]
then
  xrdb -merge "$HOME/.Xresources"
fi
