#!/bin/sh

xrandr --setprovideroutputsource modesetting NVIDIA-0
xrandr --auto

xres="$HOME/.Xresources"

if [ -f "$xres" ]
then
  xrdb -merge "$xres"
fi

# X session should inherit get .profile environment
profile="$HOME/.profile"
if [ -f "$profile" ]
then
  . "$profile"
fi
